[data-v-6abac390] .main-label {
  color: var(--el-color-danger) !important;
  font-size: 16px !important;
}
[data-v-6abac390] .pure-version {
  font-size: 14px !important;
  font-weight: 600 !important;
  opacity: 0.6;
}
[data-v-6abac390] .pure-version:hover {
  opacity: 1;
}
.main-content[data-v-6abac390] {
  margin: 0 !important;
}
