.main-container[data-v-b54e91a9] {
  background-color: #f5f7fa;
  justify-content: center;
}
.content-wrapper[data-v-b54e91a9],
.main-container[data-v-b54e91a9] {
  display: flex;
  min-width: 1200px;
  width: 100%;
}
.content-wrapper[data-v-b54e91a9] {
  max-width: 1600px;
}
.main-content[data-v-b54e91a9] {
  flex: 1;
  margin-right: 20px;
}
.main-content[data-v-b54e91a9],
.sidebar[data-v-b54e91a9] {
  background-color: #fff;
  box-shadow: 0 2px 12px #0000001a;
  padding: 20px;
}
.sidebar[data-v-b54e91a9] {
  width: 400px;
}
@media (max-width: 1200px) {
  .main-container[data-v-b54e91a9] {
    min-width: 100%;
  }
  .content-wrapper[data-v-b54e91a9] {
    flex-direction: column;
    min-width: 100%;
  }
  .main-content[data-v-b54e91a9] {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .sidebar[data-v-b54e91a9] {
    width: 100%;
  }
}
