.multi-stick-man-container[data-v-40c137db] {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.multi-stick-man-container .controls[data-v-40c137db] {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.multi-stick-man-container .el-button-group[data-v-40c137db] {
  margin-right: 20px;
}
